
/*from codepen:*/
ul.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
ul.tabs li{
	background: none;
	color: #222;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
}

ul.tabs li.current{
	background: #ededed;
	color: #222;
}

.tab-content{
	display: none;
	background: #ededed;
	padding: 15px;
}

.tab-content.current{
	display: inherit;
}
/* end codepen */

#tab-01:hover, #tab-02:hover, #tab-03:hover {
	background-color: powderBlue;
}

img {
	height: 30px;
	width: 30px;
}

#key1{
	border-width: thin;
	border-color: black;
	border-radius: 8px;
	padding: 10px;
	margin: 10px;
	border-style: solid;
	height: 60px;
	width: 450px;

}

#today2 {
	margin-left: 55px;
}


#typeDiv, #posted{
	display: none;

}

#posted{
	background-color: rgba(51, 153, 51, 0.5);
	border-radius: 5px;
	height: 100px;
	width: 170px;
	padding-top: 10px;
	float: right;
	margin-left: 40px;
}

#yay{
	font-size: 25px;
	text-transform: uppercase;
	margin: 4px;
	font-family: Garamond;
	color: white;
	text-align: center;

}

.box {
	height:24px;
	width:24px;
	border-width: thin;
	border-color: black;
	border-style: solid;
}

.type {
	float: left;
	margin: 5px;
	margin-right: 15px;
}

.equality {
	float: left;
	margin-left: 5px
}

.row {
	margin-bottom: 20px;
}



#bluebox, #bluebox3 {
	background-color: blue;
	float: left;
}
#redbox, #redbox3 {
	background-color: crimson;
	float: left;
}
#yellowbox, #yellowbox3 {
	background-color: Yellow;
	float: left;
}
#greenbox, #greenbox3 {
	background-color: forestGreen;
	float: left;
}

#bluebox2 {
	background-color: blue;
}

#greenbox2 {
	background-color: forestGreen;
}

#yellowbox2 {
	background-color: yellow;
}

#redbox2 {
	background-color: crimson;
}

#greentype2 {
	float: left;
}

#yellowtype2 {
	float: left;
}

#redtype2 {
	float: left;
}

#bluetype2 {
	float: left;
}


td {
	padding: 3px;
	font-size: 14px;
	text-align: center;
}

tr  {
	background-color: white;
}


table, th, td {
	border: 1px solid black;
}

.calKey {
	border: none;
	margin: 5px;
}

#calendarKey {
	border-radius: 5px;
margin-left: 40px;
}

#edit, #del, #completion, #update, #submit, #addTypes {
	cursor: pointer;
}
