
/*from codepen:*/
ul.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
ul.tabs li{
	background: none;
	color: #222;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
}

ul.tabs li.current{
	background: #ededed;
	color: #222;
}

.tab-content{
	display: none;
	background: #ededed;
	padding: 15px;
}

.tab-content.current{
	display: inherit;
}
/* end codepen */

#tab-01:hover, #tab-02:hover, #tab-03:hover {
	background-color: powderBlue;
}

#key1, #key2 {
	border-width: thin;
	border-color: black;
	border-radius: 8px;
	padding: 10px;
	margin: 10px;
	border-style: solid;
	height: 60px;
	width: 400px;
}

#typeDiv, #posted{
	display: none;

}

#posted{
	background-color: rgba(51, 153, 51, 0.5);
	border-radius: 5px;
	height: 100px;
	width: 170px;
	padding-top: 10px;
}

#yay{
	font-size: 25px;
	text-transform: uppercase;
	margin: 4px;
	font-family: Garamond;
	color: white;
	text-align: center;

}

.box {
	height:24px;
	width:24px;
	float: left;
	margin-bottom: 8px;
}

.type {
	float: left;
	margin: 5px;
}

.equality {
	float: left;
}

.row {
	margin-bottom: 20px;
}



#bluebox, #bluebox2, #bluebox3 {
	background-color: blue;
}
#redbox, #redbox2, #redbox3 {
	background-color: crimson;
}
#yellowbox, #yellowbox2, #yellowbox3 {
	background-color: Yellow;
}
#greenbox, #greenbox2, #greenbox3 {
	background-color: forestGreen;
}



td {
	padding: 3px;
	font-size: 14px;
	text-align: center;
}

tr  {
	background-color: white;
}


table, th, td {
	border: 1px solid black;
}
