
/*from codepen:*/
ul.tabs{
			margin: 0px;
			padding: 0px;
			list-style: none;
		}
		ul.tabs li{
			background: none;
			color: #222;
			display: inline-block;
			padding: 10px 15px;
			cursor: pointer;
		}

		ul.tabs li.current{
			background: #ededed;
			color: #222;
		}

		.tab-content{
			display: none;
			background: #ededed;
			padding: 15px;
		}

		.tab-content.current{
			display: inherit;
		}



    #typeDiv{
      display: none;
    }


tr.colorblue > td{
  background-color: blue;
  color: blue
}

.colorgreen > td{
  background-color: green;
}

.colorred > td{
  background-color: red;
  color: red;
  font-family: Garamond;
}

.coloryellow > td{
  background-color: yellow;
}

tr  {
  background-color: orange;
}
