
/*from codepen:*/
ul.tabs{
			margin: 0px;
			padding: 0px;
			list-style: none;
		}
		ul.tabs li{
			background: none;
			color: #222;
			display: inline-block;
			padding: 10px 15px;
			cursor: pointer;
		}

		ul.tabs li.current{
			background: #ededed;
			color: #222;
		}

		.tab-content{
			display: none;
			background: #ededed;
			padding: 15px;
		}

		.tab-content.current{
			display: inherit;
		}



    #typeDiv, #posted{
      display: none;
    }

		#yay{
			height:200px;
			width: 350px;
			font-size: 34px;
			text-transform: uppercase;

		}

		.box {
			height:24px;
			width:24px;
			float: left;
			margin-bottom: 8px;
		}

		.type {
			float: left;
			margin: 5px;
		}

		.equality {
			float: left;
		}



		#bluebox, #bluebox2 {
			background-color: blue;
		}
		#redbox, #redbox2 {
			background-color: crimson;
		}
		#yellowbox, #yellowbox2 {
			background-color: Yellow;
		}
		#greenbox, #greenbox2 {
			background-color: forestGreen;
		}

td {
	padding: 3px;
	font-size: 14px;
}

tr  {
  background-color: white;
}


table, th, td {
    border: 1px solid black;
}
